<h1>Providore Fine Food's Inventory</h1>

<h4>Find Products by country:</h4>

<%= form_tag(products_path, method: :get) do %>
  Country <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil %>
<% end %>


<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %> </li>
  <% end %>
</ul>


<%= link_to "Add a Product", new_product_path %><br>
<%= link_to "Back", root_path %>
